body {
  line-height: 1;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 500px;
  margin: 4rem auto;
}
.form-section {
  padding: 2rem;
  border-left: 5px solid #800080;
}
.navbar {
  background-color: #800080;
  padding: 1rem;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
button {
  background-color: #800080;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
}
button:hover {
  background-color: #a020f0;
}
@media (min-width: 600px) {
}
@media (min-width: 900px) {
}